-i https://pypi.org/simple
altair==4.2.0
attrs==22.1.0
blinker==1.6.2 ; python_version >= '3.7'
branca==0.6.0 ; python_version >= '3.7'
cachetools==5.3.0 ; python_version ~= '3.7'
certifi==2022.9.24
charset-normalizer==2.1.1 ; python_full_version >= '3.6.0'
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
contourpy==1.0.7 ; python_version >= '3.8'
cycler==0.11.0 ; python_version >= '3.6'
decorator==5.1.1 ; python_version >= '3.5'
descartes==1.1.0
entrypoints==0.4 ; python_version >= '3.6'
et-xmlfile==1.1.0
fiona==1.8.22
flask==2.3.2 ; python_version >= '3.8'
folium==0.13.0
fonttools==4.39.4 ; python_version >= '3.8'
geographiclib==2.0 ; python_version >= '3.7'
geojson==2.5.0
geopandas==0.12.1
geopy==2.3.0
geos==0.2.3
gitdb==4.0.10 ; python_version >= '3.7'
gitpython==3.1.31 ; python_version >= '3.7'
haversine==2.8.0
idna==3.4 ; python_version >= '3.5'
importlib-metadata==6.6.0 ; python_version >= '3.7'
itsdangerous==2.1.2 ; python_version >= '3.7'
jinja2==3.1.2 ; python_version >= '3.7'
joblib==1.2.0 ; python_version >= '3.7'
jsonschema==4.17.3 ; python_version >= '3.7'
kiwisolver==1.4.4 ; python_version >= '3.7'
lxml==4.9.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markdown==3.4.1
markdown-it-py==2.2.0 ; python_version >= '3.7'
markupsafe==2.1.2 ; python_version >= '3.7'
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2 ; python_version >= '3.7'
munch==3.0.0 ; python_version >= '3.6'
networkx==2.8.8
-e git+https://github.com/nhs-pycom/nhs_time_of_travel.git@c73ed01db70dfaa819ec51bfa1e8ff1365e668b9#egg=nhstravel
numpy==1.23.5
openpyxl==3.1.2
osmnx==1.2.2
packaging==23.0
pandas==1.5.2
param==1.12.3
pillow==9.5.0 ; python_version >= '3.7'
protobuf==3.20.3
pyarrow==12.0.0 ; python_version >= '3.7'
pydeck==0.8.1b0 ; python_version >= '3.7'
pygeos==0.14
pygments==2.15.1 ; python_version >= '3.7'
pympler==1.0.1 ; python_version >= '3.6'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pyproj==3.5.0 ; python_version >= '3.8'
pyrsistent==0.19.3 ; python_version >= '3.7'
pyshp==2.3.1
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
requests==2.28.1
rich==13.3.5 ; python_full_version >= '3.7.0'
rtree==1.0.1
scikit-learn==1.1.3
scipy==1.9.3
semver==3.0.0 ; python_version >= '3.7'
setuptools==67.8.0 ; python_version >= '3.7'
shapely==1.8.5.post1
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0 ; python_version >= '3.6'
streamlit==1.15.1
streamlit-folium==0.7.0
threadpoolctl==3.1.0 ; python_version >= '3.6'
toml==0.10.2 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
toolz==0.12.0 ; python_version >= '3.5'
tornado==6.3.2 ; python_version >= '3.8'
traitlets==5.9.0 ; python_version >= '3.7'
typing-extensions==4.6.2 ; python_version >= '3.7'
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
validators==0.20.0 ; python_version >= '3.4'
watchdog==3.0.0 ; platform_system != 'Darwin'
werkzeug==2.3.4 ; python_version >= '3.8'
xlrd==2.0.1
zipp==3.11.0
